/* FULL 90s CHAOS STYLE SHEET */

body {
    background-image: url("https://web.archive.org/web/20090831062915/http://geocities.com/clipart/patterns/stars3.gif");
    background-repeat: repeat;
    font-family: "Comic Sans MS", cursive;
    color: #00FF00; /* Nuclear green */
    text-shadow: 2px 2px #000;
    margin: 0;
}

h1, h2, h3 {
    color: #FFFF33;
    text-align: center;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { color: hotpink; }
}

.container {
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    border: 5px dashed
